<a href="https://colab.research.google.com/github/Amarsinh0/-PYTHON-NOTES/blob/main/notes_on_python_step1_very_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
X='HELLO WORLD'
print(X)

HELLO WORLD

In [ ]:
# check type

y=13
print(type(y))
print(id(y))

<class 'int'>
9793472

# slicing of **string**

In [ ]:

#string slicing
a='artifical intelligance'
print(a[3])
print(a[-3])
print(a[:6])
print(a[4:])
print(a[2:7])
print(a[:])
print(a[::-1])   # reverse string

i
n
artifi
fical intelligance
tific
artifical intelligance
ecnagilletni lacifitra

In [ ]:
# basic 
print(int(1.99))
print(int(True))
print(float(False))
print(complex(15))
print(complex(False))
print(bool(0.0))
print(bool(100))
print(str(10))

1
1
0.0
(15+0j)
0j
False
True
10

In [ ]:
c=[1000,2000]
d=bytes(c)
print(d)

#o/p== bytes must be in range(0, 256)

**LIST**

In [ ]:
#replace elements 

list1=[5,10.5,'ds',True]
list1[0]=100
list1[3]='Amar'
print(list1)

[100, 10.5, 'ds', 'Amar']

In [ ]:
#appending  new elements to list

list1=[5,10.5,'ds',True]

list1.append(88)
print(list1)

[5, 10.5, 'ds', True, 88]

In [ ]:
#remove elemets from list
list1=[5,10.5,'ds',True]
list1.remove(10.5)
print(list1)

[5, 'ds', True]

In [ ]:
# create  list multiple times
list1=[5,10.5,'ds',True]
lst1=list1*3
print(lst1)

[5, 10.5, 'ds', True, 5, 10.5, 'ds', True, 5, 10.5, 'ds', True]

**TUPLE**

In [ ]:
tup=(10,20,30,40)
tup[0]=100
print(tup)

# tuple' object does not support item assignment

In [ ]:
# acccess elements by using index
print(tup[3])

40

In [ ]:
# bascis of range 

for i in range (5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(2,6):
  print(i)

2
3
4
5

In [ ]:
for i in range (2,10,3):
  print(i)

2
5
8


**SET**

In [ ]:
s={10,20,30,40,55}
#adding elements in the list use  ==>  .add 
s.add(999)
print(s)

{999, 40, 10, 20, 55, 30}

In [ ]:
#removinng from the list
s.remove(20)
print(s)

{999, 40, 10, 55, 30}

In [ ]:
# make frozenset
s={10,20,30,40,55}
set1=frozenset(s)
print(set1)

frozenset({20, 55, 40, 10, 30})

**DICTIONARY**

In [ ]:
#  change the key values  in dictionary
dic={"name":"yash","age":18, "habbit": "play cricket"}

dic['name']='sangram' # change the values of key name 
dic['age']=23
print(dic)

{'name': 'sangram', 'age': 23, 'habbit': 'play cricket'}

In [ ]:
#create empty dictionary
d={}
print(d)

{}

In [ ]:
 # add elemets in empty list
d["fruit"]="apple"
d["game"]="hockey"
print(d)

{'fruit': 'apple', 'game': 'hockey'}

** some basic operaions**

In [ ]:


a=15
b=2
print('a+b=',a+b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a//b=',a//b)
print('a%b=',a%b)
print('a^b=',a^b)
print('a**b=',a**b)
#etc..

a+b= 17
a*b= 30
a/b= 7.5
a//b= 7
a%b= 1
a^b= 13
a**b= 225

*if first argument is zero then result is zero otherwise result is y....(x and y)*

In [ ]:
10 and 20

20

In [106]:
0 and 20

0