<a href="https://colab.research.google.com/github/Amarsinh0/-PYTHON-NOTES/blob/main/python_vimp_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
if 5>2:
  print("its true")
else:
  print("false")

its true

In [ ]:
x,y,z='apple','banana' ,'mango'
print(x)
print(y)
print(z)

apple
banana
mango

In [ ]:
x=y=z='apple'
print(y)

apple

In [ ]:
q="best"
def my_func():
  print('python is ' + q)
my_func()

python is best

In [ ]:
x="best"
def func():
  x='awesome'
  print("python is "+ x)
func()
print("python is "+x)

python is awesome
python is best

In [ ]:
y=13
r=1.3
z='amar'
print(type(y))
print(type(r))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
a=200
b=300
if a>b :
  print("greter")
else:
  print('it is smaller')

it is smaller

In [ ]:
a= '  arTeficil IntEllignce '
print(a[:3])
print(a[2:5])
print(a[-10:-4])
print(a[2:15:2])
print(a[::-1])
print(a.upper())
print(a.swapcase())
print(a.capitalize())
print(a.casefold())
print(a.endswith("e"))
print(a.find("T"))
print(a.split())
print(a.center(2))
print(a.strip())

  a
arT
tEllig
aTfclIt
 ecngillEtnI licifeTra
  ARTEFICIL INTELLIGNCE
  ARtEFICIL iNTeLLIGNCE
  arteficil intellignce
  arteficil intellignce
False
4
['arTeficil', 'IntEllignce']
  arTeficil IntEllignce
arTeficil IntEllignce

In [ ]:
a='hell\n world '
b='hello\vworld '
c='hello world '
d='hello\' world '
e='hello \\ world '
f='hello\" world '

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

hell
 world
helloworld
hello world
hello' world
hello \ world
hello" world

In [ ]:
complex(15)

(15+0j)

In [ ]:
print(bool(0))
print(bool(1))

False
True

In [ ]:
print(str(10))
print(str(10.5))
print(str('data science'))

10
10.5
data science

In [ ]:
a=10
b=10
a=b
print(id(a))
print(id(b))

140189094904336
140189094904336

In [ ]:
x=[1,2,3,4,5,7,7]
b=bytearray(x)
print(b)

bytearray(b'\x01\x02\x03\x04\x05\x07\x07')

In [ ]:
for i  in x :
  print(i)

1
2
3
4
5
7
7

In [ ]:
list=['data science', 10, 10.5, 'Ture', 15+5j ]
print(list)

['data science', 10, 10.5, 'Ture', (15+5j)]

In [ ]:
list[0]=100
print(list)

[100, 10, 10.5, 'Ture', (15+5j)]

In [ ]:
list.append(888)
print(list)

[100, 10, 10.5, 'Ture', (15+5j), 888, 888]

In [ ]:
list.remove(888)
print(list)

[100, 10, 10.5, 'Ture', (15+5j), 888]

In [ ]:
list=list*2
print(list)

[100, 10, 10.5, 'Ture', (15+5j), 888, 100, 10, 10.5, 'Ture', (15+5j), 888]

In [ ]:
list[2]=400
print(list)

[100, 10, 400, 'Ture', (15+5j), 888, 100, 10, 10.5, 'Ture', (15+5j), 888]

In [5]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range (0,10,3):
  print(i)

0
3
6
9

In [13]:
s={100,0,10,200,10,'data science'}
s.add(700)
s.remove(0)
fs=frozenset(s)
print(s)

{100, 'data science', 200, 10, 700}

In [18]:
d={101:'amar',102:'rohit',103:'shubham',104:'shreya'}
print(d)
d[103]='changu'
print(d)

{101: 'amar', 102: 'rohit', 103: 'shubham', 104: 'shreya'}
{101: 'amar', 102: 'rohit', 103: 'changu', 104: 'shreya'}

In [20]:
d={}
print(type(d))

<class 'dict'>

In [24]:
d['a']='amar'
d['b']='vipul'
print(d)

{'a': 'amar', 'b': 'vipul'}

In [29]:
d['a']='nana'
d['b']='patekar'
print(d)

{'a': 'nana', 'b': 'patekar'}

In [30]:
d['m']='ashok'
d['l']='rohit200'
print(d)

{'a': 'nana', 'b': 'patekar', 'm': 'ashok', 'l': 'rohit200'}

In [35]:
def m1():
  a=10
print(m1())

None

In [36]:
a=15
b=2
print(a/b)
print(a-b)
print(a%b)
print(a//b)
print(a**b)
print(a*b)

7.5
13
1
7
225
30

In [37]:
a=10
b=20
print(a>b)
print(b>a)
print(a==b)
print(a!=b)

False
True
False
True

In [38]:
10 and 20

20

In [39]:
10 or 30

10

In [41]:
10 or 30

10

In [43]:
print(4^10)

14

In [45]:
print(10>>5)

0

In [54]:

a=int(input('Enter the number a'))
b=int(input('Enter the number b'))
c=int(input('Enter the number c'))

if b<a>c:
  print('a is great' )
elif b>c:
  print('b is gretest number')
else:
  print('c is gretest number')

Enter the number a-24
Enter the number b-99
Enter the number c-2
c is gretest number

In [58]:
def max_of_two(x,y):
  if x>y:
    return x
  return y
max_of_two(200,3488)

3488

In [60]:
def max_of_three(x,y,z):
  if y<x>z:
    return x
  elif y>z:
    return y
  return z
max_of_three(20,300,34)

300

In [62]:
a='learing python is very easy'
print('h' in a)
print('i' not in a)

True
False

In [64]:
import math
math.sqrt(16)

4.0

In [72]:
from math import ceil,floor,factorial,trunc,gcd,sin,cos,tan,pow,pi

In [73]:
print(ceil(10.34))
print(floor(10.34))
print(factorial(5))
print(pow(10,3))
print(trunc(10.33))
print(sin(60))

11
10
120
1000.0
10
-0.3048106211022167

In [77]:
import math
def area(r):
  area=math.pi*(pow(r,2))
  return area
area(4)

50.26548245743669

In [78]:
x=eval('10 +24 +35')
x

69

In [81]:
a,b,c=10,20,30
print(a,b,c,sep=' ')

10 20 30

In [4]:
a= int(input("Enter the number : "))
if a%2==0:
  print (a," is even number ")
else :
  print(a," is odd number ")

Enter the number : 1
1  is odd number

In [9]:

for i in range(10):
 print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(21):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [13]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [28]:
list=eval(input('enetr the list :'))
sum=0
for i in list:
  sum=sum+i
print('sum of th total', sum)

enetr the list :5,6,8
sum of th total 19

In [32]:
i=3
while i<=10:
  print(i)
  i+=1

3
4
5
6
7
8
9
10

In [35]:
n=int(input("Enter the num"))
sum=0
i=1
while i<=n:
  sum=sum+i
  i+=1
print('total sum is',sum)

Enter the num1000
total sum is 500500

In [ ]:
for i in range (1,8):
  for j in range(2,8,3):
    print(i,j)

In [62]:
x=int(input ('enter the number :'))
for i in range(x):
  for j in range(i+1):
    print("*",end='')
  print('')

enter the number :10
*
**
***
****
*****
******
*******
********
*********
**********

In [64]:
list=[200,20,345,333,4567,34,3,4,2018]
for i in list:
  if i>=500:
    break
  print(i)

200
20
345
333

In [65]:
list=[200,20,345,333,4567,34,3,4,2018]
for i in list :
  if i>=500:
    continue
  print(i)

200
20
345
333
34
3
4

In [75]:
for i in range (100):
  if i%9==0:
    print(i)
  else:
    pass

0
9
18
27
36
45
54
63
72
81
90
99

In [80]:
s='learning python is very easy'
print(s[0])
print(s[:5])
print(s[2:9])
print(s[::-1])
print(s[2:10:3])
print(s[-10:-3])
print(s[::])
print(s[2:])

l
learn
arning
ysae yrev si nohtyp gninrael
ai
 very e
learning python is very easy
arning python is very easy

In [99]:
s='learning python is very easy'
n=len(s)
i=-1
while i>=-n:
  print(s[i],end='')
  i=i-1

ysae yrev si nohtyp gninrael

In [102]:
s='dada'

print('d' not in s)

False

In [104]:
s='data'
s.find('t')

2

In [107]:
s="ahsgdghahdsgdhjggsahssaafdgdss"
s.count('d')

5

In [122]:
s='2,6,1993'
m=s.split(',')
for i in m:
  print(i,end=' ')

2 6 1993

In [124]:
s='2','6','1993'
'_'.join(s)

'2_6_1993'

In [127]:
name ='amarsinh'
age=30
salary=1500000
print('emp name {a} and his age  {c} his current salary is {p}'.format(a=name,c=age ,p=salary))

emp name amarsinh and his age  30 his current salary is 1500000

In [142]:
s='learning python is very easy'
l=s.split()
l2=l[::-1]
l3=' '.join(l2)
print(l3)

easy very is python learning

In [145]:
s=input("enetr the string :")
l=[]
for i in s :
  if i not in l:
    l.append(i)
  output= ' '.join(l)
print(output)

enetr the string :afsahgdahjgdgdhdh
a f s h g d j

In [152]:

l=[]
for i in s:
  if i not in l:
    l.append(i)
  output=' '.join(l)
print(output)

enetr the string :asdfdaassddfggsaa
a s d f g

In [157]:
s=input('enetr the string :')
d={}
for x in s :
  if x in d.keys():
    d[x]=d[x]+1
  else:
    d[x]=1
print(d)

enetr the string :qwerttrewwqweert
{'q': 2, 'w': 4, 'e': 4, 'r': 3, 't': 3}

In [2]:
s=str(input('enetr the string:'))
d={}
for i in s:
  if i in d.keys():
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

enetr the string:asdfdsfgnjkjghrfyfc
{'a': 1, 's': 2, 'd': 2, 'f': 4, 'g': 2, 'n': 1, 'j': 2, 'k': 1, 'h': 1, 'r': 1, 'y': 1, 'c': 1}

In [161]:
del list
l=list(range(0,10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [163]:
l=list(range(0,10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:

n=str(input("enetr the list: "))
d={}
for i in n:
  if i in d.keys():
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

enetr the list: 12324567887665423
{'1': 1, '2': 3, '3': 2, '4': 2, '5': 2, '6': 3, '7': 2, '8': 2}

In [4]:
lst=[]
lst.append('100')
lst.append('700')
print(lst)

['100', '700']

In [5]:
list=[]
for i in range (101):
  if i%10==0:
    list.append(i)
print(list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [18]:
l=[1,888,3,4,5,6]

print(l.pop())
print(l.pop(1))

6
888

In [19]:
list1=['mango','banana','orange']
del list1[1]
list1

['mango', 'orange']

In [24]:
list1=['mango','banana','orange']
list1.reverse()
list1

['orange', 'banana', 'mango']

In [25]:
list1=['mango','banana','orange']
list1.sort()
list1

['banana', 'mango', 'orange']

In [28]:
list1=['mango','banana','orange','papaya']
list1.sort(reverse=True)
list1

['papaya', 'orange', 'mango', 'banana']

In [31]:
x=['mango','banana','orange','papaya']
x=y
print(id(x))
print(id(y))

140498168763328
140498168763328

**cloning**

In [33]:
x=['mango','banana','orange','papaya']
y=x[:]
print(y)

['mango', 'banana', 'orange', 'papaya']

**copy**

In [34]:
x=['mango','banana','orange','papaya']
y=x.copy()
print(y)

['mango', 'banana', 'orange', 'papaya']

In [35]:
x=[10,20,25]
y=x*3
print(y)

[10, 20, 25, 10, 20, 25, 10, 20, 25]

In [45]:
n=[24,35,[34,45,67]]
print(n[2])
print(n[2][2])
print(n[2][1])

[34, 45, 67]
67
45

In [47]:
n=[[10,20,30],[77,88,99],[51,71,81]]
for i in n:
  print(i)

[10, 20, 30]
[77, 88, 99]
[51, 71, 81]

In [74]:
n=[[10,20,30],[77,88,99],[51,71,81]]
for i in range(len(n)):
   for j in range(len(n[i])):
     print(n[i][j] ,end=' ')
   print()

10 20 30
77 88 99
51 71 81

In [79]:
s=[x*x for x in range (1,11)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
s=[x*x*x for x in range (1,11)]
print(s)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [93]:
n=['amar','sopan','vishal','dhiraj','rushi']
f=[i[0] for i in n]
print(f)

['a', 's', 'v', 'd', 'r']

In [112]:
n=['amar','sopan','vishal','dhiraj','rushi']
for i in n :
  print(i[0],end=' ')

a s v d r

In [116]:
for i in n:
  print(i[-1],end=' ')

r n l j i

In [119]:
list1=['amar','sopan','vishal','dhiraj','rushi']
i=0
while i<len(list1):
  print(n[i])
  i=i+1

amar
sopan
vishal
dhiraj
rushi

In [124]:
list1=['amar','sopan','vishal','dhiraj','rushi']
[print(x) for x in list1]

amar
sopan
vishal
dhiraj
rushi

[None, None, None, None, None]

In [133]:
n=['amar','sopan','vishal','dhiraj','rushi','anu','asha','roony']
l=[]
for i in n:
  if i[0]=='a' in i:
    l.append(i)
print(l)

['amar', 'anu', 'asha']

In [134]:
n=['amar','sopan','vishal','dhiraj','rushi','anu','asha','roony']
l=[]
for i in n:
  if i[1]=='o' in i:
    l.append(i)
print(l)

['sopan', 'roony']

In [138]:
n=['amar','sopan','vishal','dhiraj','rushi','anu','asha','roony']
list11=[i for i in n if i !='dhiraj']
print(list1)

['amar', 'sopan', 'vishal', 'dhiraj', 'rushi']