<a href="https://colab.research.google.com/github/Amarsinh0/-PYTHON-NOTES/blob/main/simple_python_step_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if x evaluate to true then result is x otherwise resultwise result is y

In [ ]:
print(10 or 20)
print(0 or 20)

10
20

if x evaluate to false then result is True otherwise false

In [ ]:
print(not 10)
not 0

False

True

**True and False relation**

In [ ]:
print(True and False)
print(True or True)
print(True ^ False)
print(~ True)
print( True << 2) # bitwise left shift
print(True>>2)  # bitwise right shift

False
True
True
-2
4
0

In [ ]:
a=20
b=4
print(a<<2)
print(a>>2)
print(a&b)
print(a^b) # bitwise xor operator
print(~a) # bitwise not operator ( invert indivisual bits)  forumula:  ~ = -x-1

80
5
4
16
-21

IS   ,   IS NOT

In [ ]:
a=10
b=10
print( a is b)
print(  a is not b)

True
False

**IMPORT MATH**

In [ ]:
# import maths module
import math
math.sqrt(144)

12.0

In [ ]:
from math import  ceil,floor, factorial, trunc, gcd, sin, cos , tan,pow
print(ceil(10.55))
print(floor(22.4))
print(factorial(5))
print(trunc(22.6))
print(pow(10,2))
print(sin (60))
print(cos(90))
print(tan(180))

11
22
120
22
100.0
-0.3048106211022167
-0.4480736161291701
1.3386902103511544

In [ ]:
# eval() function take as string and evaluate the reuslt
x=eval("10+20+30")
print(x)

60

In [ ]:
print("hello",end=' ')
print("world")

hello world

%i==int ,
%d==int ,
%f==float ,
%s== string type

In [ ]:
a=10
b=20
c=30

print("b value is %d and c values is %d and a value is %f"%(b,c,a))

b value is 20 and c values is 30 and a value is 10.000000

In [ ]:
s="students"
list=[10,20,30,40]
print(" hello %s the list of the item is %s"%(s,list))

 hello students the list of the item is [10, 20, 30, 40]

**control flow statement**

In [ ]:
num1=int(input("enter num1: "))
num2=int(input("enetr num2: "))
if num1>num2:
   print(" num1 greter")
else:
  print("num2 is greter")

enter num1: 24
enetr num2: 56
num2 is greter

*ITERATIVE STATEMENT*

In [ ]:
name= "AMARSINH"
for i in name :
 print(i)

A
M
A
R
S
I
N
H

In [ ]:
for x in range(5):
 print("hello")

hello
hello
hello
hello
hello

In [ ]:
for y in range (21):
  if y%2!=0:
   print(y)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range (10,0,-3):
  print(i)

10
7
4
1

In [ ]:
lst= eval(input( "enter the number : ")
sum =0
for i in lst:
sum=sum+i;
print(sum)

**to make pyramid of alphabets**

In [ ]:
row= int (input("enter the rows: "))
ascii=65
for i in range (row):
   for j in range (i+1):
      alphabet=chr(ascii)
      print(alphabet,end='')
   ascii=ascii+1
   print("\n")

enter the rows: 5
A

BB

CCC

DDDD

EEEEE

In [16]:
rows= int(input("enter the number :  "))
for i in range (rows):
    for j in range (i+1):
      print( "*",end=" ")
    print("\n")

enter the number :  4
*

* *

* * *

* * * *

In [ ]:
rows = int(input("enter the numner of rows: "))
k=0
for i in range (1,rows+1):
  for space in range (1,(rows-i)+1):
     print( end=" ")
  while k!=(2*i-1):
     print("*", end="")
     k=k+1
  k=0
  print()

enter the numner of rows: 5
    *
   ***
  *****
 *******
*********

In [6]:
rows= int(input("enter the rows: "))
num=0
for i in range (1,rows+1):
   for j in range(1,i+1):
    print(num,end=" ")
    num=num+1
   print()

enter the rows: 4
0
1 2
3 4 5
6 7 8 9

In [14]:
rows= int(input("enter the number :  "))
for i in range (rows):
    for j in range (i+1):
      print( j+1,end=" ")
    print("\n")

enter the number :  4
1

1 2

1 2 3

1 2 3 4